/.godot
/.import
/Godot_stable.zip
/all_in_one.gd
/classes.puml
/default_env.tres
/entities
/export_presets.cfg
/gd2puml copy.html
/icon.png
/icon.png.import
/level.tscn
/log.txt
/log_filtered.txt
/meshes
/project.godot
/references
/scenes
/sprites
/test
/test.hpp
/test.png
/test.png.import
/test.puml
/trash